body, html {
	background-color: @color-dark;
	color: #ccc;
	margin:0px auto;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	font-size: 14px;
}

/**
 * Navigation container
 */
#ccd-navigation-container {
	height:100%;
	position:fixed;
	height:100%;
	width: 350px;

	.main-navigation {
		float: left;
		width: 60px;
		height: 100%;
		background-color: lighten( @color-dark, 5% );
		

		#ccd-logo {
			background-color: @color-main;
			display: block;
			.square(60px);
			overflow: hidden;
			
			img {
				padding: 13px;
				display: block;
				width: 100%;
				.transition( all ease-out 0.2s );
				
				&:hover {
					.rotate(180deg);
				}
			}
		}
	}

	.sub-navigation {
		float: left;
		width: 290px;
		height: 100%;
		
		.page-topic h1 {
			display: block;
			background-color: darken( @color-dark, 2% );
			height: 60px;
			font-size: 20px;
			padding-left: 20px;
			line-height: 20px;
		}
	}
}

/**
 * Icon navigation
 */ 
ul.ccd-icon-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		
		&:hover a, &.active a{
			
			background-color: lighten( @color-dark, 8% );
		
			i.icon {
				color: #fff;
			}
			
			.icon-nav-label {
				left: 60px;
				opacity: 1;
			}
		}
		
		&.active a{
		
			border-left: 2px solid @color-main;
		
			.icon-nav-label {
				left: 0px;
				opacity: 0;
			}
		}
		
		a{
			display: block;
			.square(60px);
			float: left;
			border-bottom: 1px solid lighten( @color-dark, 8% );
			
			// icons
			i.icon {
			 	display: block;
				font-size: 26px;
				color: #ccc;
				margin: 16px;
			}	
			
			.icon-nav-label {
				.transition( all ease-in-out 0.2s );
				padding: 0 20px 0px 10px;
				position: absolute;
				display: block;
				opacity: 0;
				line-height: 60px;
				height: 60px;
				background-color: lighten( @color-dark, 5% );
				text-transform: uppercase;
				color: #ddd;
				z-index: -1;
			}
		}
	}
}

/**
 * Content container
 */
#ccd-content-container {
	background-color: @color-background;
	min-height: 1900px;
	margin-left: 350px;
	
	color: @font-color;
	
	padding-top: 60px;
	
	> div {
		
	}
}

/**
 * Content header
 */
.content-header {
	background-color: #eee;
	height: 60px;
	.box-shadow( 0 2px 4px rgba(0,0,0,0.1) );
	
	&.content-header-fixed {
		padding-right: 350px;
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 1
	}
	
	.page-topic h2 {
		height: 60px;
		font-size: 20px;
		padding-left: 20px;
		line-height: 20px;
	}
	
	.content-search {
		float: right;
		margin-top: 10px;
		margin-right: 10px;
		
		.el-icon-search {
			position: absolute;
			line-height: 45px;
			margin-left: 10px;
			z-index: -1;
			color: #ccc;
		}
		
		input {
			text-align: right;
			min-width: 200px;
		}
	}
}

/**
 * Form control transparent
 */
.form-control.transparent {
	border: 2px transparent;
	background: transparent;
}