body, html {
	background-color: @color-dark;
	color: @font-color;
	margin:0px auto;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	font-size: 14px;
}

/**
 * Navigation container
 */
#ccd-navigation-container {
	height:100%;
	position:fixed;
	height:100%;
	width: 350px;

	.main-navigation {
		float: left;
		width: 60px;
		height: 100%;
		background-color: lighten( @color-dark, 5% );
		

		#ccd-logo {
			background-color: @color-main;
			display: block;
			.square(60px);
			overflow: hidden;
			
			img {
				padding: 13px;
				display: block;
				width: 100%;
				.transition( all ease-out 0.2s );
				
				&:hover {
					.rotate(180deg);
				}
			}
		}
	}

	.sub-navigation {
		float: left;
		width: 290px;
		height: 100%;
		
		.page-topic h1 {
			display: block;
			background-color: darken( @color-dark, 2% );
			height: 60px;
			font-size: 20px;
			padding-left: 20px;
			line-height: 20px;
			color: #ccc;
		}
	}
}

/**
 * Icon navigation
 */ 
ul.ccd-icon-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		
		&:hover a, &.active a{
			
			background-color: lighten( @color-dark, 8% );
		
			i.icon {
				color: #fff;
			}
			
			.icon-nav-label {
				left: 60px;
				opacity: 1;
			}
		}
		
		&.active a{
		
			border-left: 2px solid @color-main;
		
			.icon-nav-label {
				left: 0px;
				opacity: 0;
			}
		}
		
		a{
			display: block;
			.square(60px);
			float: left;
			border-bottom: 1px solid lighten( @color-dark, 8% );
			
			// icons
			i.icon {
			 	display: block;
				font-size: 26px;
				color: #ccc;
				margin: 16px;
			}	
			
			.icon-nav-label {
				.transition( all ease-in-out 0.2s );
				padding: 0 20px 0px 10px;
				position: absolute;
				display: block;
				opacity: 0;
				line-height: 60px;
				height: 60px;
				background-color: lighten( @color-dark, 5% );
				text-transform: uppercase;
				color: #ddd;
				z-index: -1;
			}
		}
	}
}

/**
 * Panel
 */
#ccd-panel {
	background-color: #fff;
	height: 100%;
	position: fixed;
	width: 70%;
	right: 0;
	z-index: 10;
	overflow-y: scroll;
	.box-shadow( -5px 0px 10px rgba(0,0,0,0.2) );
	-webkit-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
		 -o-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
			transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
	
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
		 -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
			transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
			
	-webkit-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
	
	&.panel-hidden {
		-webkit-transform: translate3d(105%, 0, 0);
		transform: translate3d(105%, 0, 0);
	}
}

/**
 * Content container
 */
#ccd-content-container {
	background-color: @color-background;
	padding-bottom: 20px;
	margin-left: 350px;
	position: relative;
	
	color: @font-color;
	
	padding-top: 60px;
}

/**
 * Content header
 */
.content-header {
	background-color: #eee;
	height: 60px;
	border-bottom: 1px solid #E2E2E2;
	
	&.content-header-fixed {
		padding-right: 350px;
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 5;
	}
	
	.header-item {
		color: #AFB8C5;
		
		a {
			color: #AFB8C5;
			
			&:hover {
				color: darken( #AFB8C5, 10% );
			}
		}
		
		float: left;
		height: 60px;
		line-height: 60px;
		border-right: 1px #E2E2E2 solid;
		margin-right: 20px;
		
		&.pull-right {
			border-right: none;
			margin-right: 20px;
			border-left: 1px #E2E2E2 solid;
			padding-left: 20px;
		}
	}
	
	.page-topic h2 {
		font-size: 20px;
		line-height: 20px;
	}
	
	.panel-close-trigger {
		font-size: 18px;
		line-height: 66px;
	}
	
	.content-search {
		
		padding-left: 30px;
		
		.el-icon-search {
			position: absolute;
			line-height: 60px;
			margin-left: -10px;
			z-index: -1;
			color: #AFB8C5;
		}
		
		input {
			display: inline-block;
		}
	}
}

/**
 * Form control transparent
 */
.form-control.transparent {
	border: 2px transparent;
	background: transparent;
}

/**
 * CCD style tables
 */
table.table-ccd {
	color: #969DAC;
	
	tr th {
		&:focus {
			outline: none;
		}
		&.sorting {
			cursor: pointer;
		}
	}
	
	tr th.sorting_asc {
		
		background-color: darken( #F5F5F5, 5% );
	
		&:after {
			content: "\00a0\e6f9";
			font-family: 'Elusive-Icons';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	tr th.sorting_desc {
	
		background-color: darken( #F5F5F5, 5% );
	
		&:after {
			content: "\00a0\e6f6";
			font-family: 'Elusive-Icons';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	
	>thead>tr>th, >tbody>tr>th, >tfoot>tr>th, >thead>tr>td,
	>tbody>tr>td, >tfoot>tr>td {
		border-bottom: 1px solid #F2F2F4;
		vertical-align: middle;
	}
	
	tr.odd {
		background-color: #fff;
	}
	
	tr.even {
		background-color: #FCFCFC;
	}
	
	
}

/**
 * Simple box-shadow
 */
.box-shadow {
	.box-shadow();
}


/**
 * Datatables
 */
.dataTables_wrapper {

	.dataTables_processing {
		display: block;
		position: absolute;
		left:0;
		right:0;
		width: 50px;
		height: 50px;
		margin: auto;
		margin-top: 50px;
		.border-radius(50px);
		.box-shadow();
		padding: 10px;
		background-color: #fff;
		background-image: url('/assets/Admin/img/loading.gif');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 32px;
	}
	
	.dataTables_info {
		display: block;
		float: right;
		color: #777;
		font-size: @font-size - 3;
	}
	
	.dataTable_footer {
		padding: 0 10px;
	}
	
	.dataTables_paginate ul.pagination {
		margin: 0;
	}
	
	tr:hover .hover-visible {
		opacity: 1;
	}
	
	.hover-visible {
		opacity: 0.1;
		.transition( opacity 0.2s );
	}
}

/**
 * Rounded box
 */
.rounded {
	.border-radius( 500px );
}